<div class="container my-5">
    <h1>Student List</h1>
    <table class="table" *ngIf="students && students.length > 0">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Given Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Class</th>
                <th> </th>
            </tr></thead>
            <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.id }}</td>
                <td>{{ student.givenName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.class }}</td>
                <td><a [routerLink]="['/students/edit',student]">Edit</a></td>
            </tr></tbody>
    </table>
    <p *ngIf="!students || students.length <= 0">No Students Found</p>
    <!-- <app-edit-students [student] = "studentEdit"></app-edit-students> -->
</div>